@{
    ViewBag.Title = "Thông báo xe";
}
<h2>🔔 Thông báo cho khách hàng</h2>

<ul class="list-group">
    <li class="list-group-item">Khách hàng Nguyễn Văn A: Xe Toyota Vios hiện đã có sẵn.</li>
    <li class="list-group-item">Khách hàng Trần Thị B: Xe Honda City sẽ sẵn sàng vào ngày mai.</li>
</ul>
